<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sanaiclub.chat.dao.ChatRoomMapper">
    <select id="find_my_rooms"
            resultType="map">
        SELECT
            cr.room_id,
            cr.project_id,
            cr.is_active,
            cr.last_message_at,
            u.name,
            u.profile_image_url,
            m.content AS last_message_content,
            m.sender_id AS last_message_sender_id,
            (
                SELECT COUNT(*)
                FROM messages m3
                WHERE m3.room_id = cr.room_id
                  AND m3.sender_id != #{member_id}
            AND m3.is_read = 0
            ) AS unread_count
        FROM chat_rooms cr
                 JOIN users u
                      ON u.user_id = cr.freelancer_id
                 LEFT JOIN (
            SELECT m2.*
            FROM messages m2
            WHERE m2.room_id IS NOT NULL
            ORDER BY m2.created_at DESC
        ) m
                           ON m.room_id = cr.room_id
                               AND m.message_id = (
                                   SELECT m3.message_id
                                   FROM messages m3
                                   WHERE m3.room_id = cr.room_id
                                   ORDER BY m3.created_at DESC
            LIMIT 1
            )
        WHERE cr.freelancer_id = #{member_id}
        ORDER BY cr.last_message_at DESC
    </select>

    <select id="find_room_by_id" resultType="com.sanaiclub.chat.model.dto.ChatRoomDTO">
        SELECT
            cr.room_id,
            cr.last_message_at,
            cr.last_message_content,
            u.name,
            u.profile_image_url
        FROM chat_rooms cr
                 JOIN users u
                      ON u.user_id = cr.freelancer_id
        WHERE cr.room_id = #{room_id}
    </select>
    <update id="update_last_message" parameterType="map">
        UPDATE chat_rooms
        SET last_message_at = CURRENT_TIMESTAMP,
        last_message_content = #{content}
        WHERE room_id = #{room_id}
    </update>

</mapper>
