<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sanaiclub.chat.dao.ChatRoomMapper">
    <resultMap id="chatRoomMap" type="com.sanaiclub.chat.model.dto.ChatRoomDTO">
        <id property="room_id" column="room_id"/>
        <result property="project_id" column="project_id"/>
        <result property="is_active" column="is_active"/>
        <result property="profile_image_url" column="profile_image_url"/>
        <result property="last_message_content" column="last_message_content"/>
        <result property="last_message_sender_id" column="last_message_sender_id"/>
        <result property="last_message_at" column="last_message_at"/>
        <result property="unread_count" column="unread_count"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="find_my_rooms"  parameterType="int"
              resultMap="chatRoomMap" >
        SELECT
            rooms.*,

            m.content     AS last_message_content,
            m.sender_id   AS last_message_sender_id,
            m.created_at  AS last_message_at,

            u.name,
            u.profile_image_url,

            (
                SELECT COUNT(*)
                FROM messages m3
                WHERE m3.room_id = rooms.room_id
                  AND m3.sender_id != #{login_user_id}
            AND m3.is_read = 0
            ) AS unread_count

        FROM chat_rooms rooms

            JOIN projects p
        ON p.project_id = rooms.project_id

            LEFT JOIN messages m
            ON m.message_id = (
            SELECT m2.message_id
            FROM messages m2
            WHERE m2.room_id = rooms.room_id
            ORDER BY m2.created_at DESC
            LIMIT 1
            )

-- ⭐ 상대방 user join
            JOIN users u
            ON u.user_id =
            CASE
            WHEN rooms.freelancer_id = #{login_user_id}
            THEN p.client_id
            ELSE rooms.freelancer_id
        END

        WHERE
    rooms.freelancer_id = #{login_user_id}
 OR p.client_id = #{login_user_id}

ORDER BY
    m.created_at DESC
    </select>
    <resultMap id="chatMessageMap" type="com.sanaiclub.chat.model.dto.ChatMessageDTO">
        <id property="message_id" column="message_id"/>
        <result property="sender_id" column="sender_id"/>
        <result property="room_id" column="room_id"/>
        <result property="project_id" column="project_id"/>
        <result property="title" column="title"/>
        <result property="user_id" column="user_id"/>
        <result property="name" column="name"/>
        <result property="profile_image_url" column="profile_image_url"/>
        <result property="content" column="content"/>
        <result property="created_at" column="created_at"/>
        <result property="deleted_at" column="deleted_at"/>
        <result property="is_read" column="is_read"/>
        <result property="is_deleted" column="is_deleted"/>
        <result property="file_name" column="file_name"/>
        <result property="file_url" column="file_url"/>
        <result property="file_size" column="file_size"/>
    </resultMap>

    <select id="find_room_by_id" resultMap="chatMessageMap">
        SELECT
            cr.room_id,
            cr.project_id,
            p.title,
            u.user_id,
            u.name,
            u.profile_image_url,
            m.message_id,
            m.content,
            m.sender_id,
            m.created_at,
            m.deleted_at,
            m.is_read,
            m.is_deleted,
            m.file_name,
            m.file_url,
            m.file_size
        FROM chat_rooms cr
                 JOIN projects p
                      ON cr.project_id = p.project_id
                 JOIN users u
                      ON u.user_id =
                         CASE
                             WHEN p.client_id = #{login_user_id}
                                 THEN cr.freelancer_id
                             ELSE p.client_id
                             END
                 LEFT JOIN messages m ON m.room_id = cr.room_id
        WHERE cr.room_id = #{room_id}
        ORDER BY m.created_at ASC
    </select>

    <select id="findRoomInfo" resultMap="chatRoomMap">
        SELECT
            r.room_id,
            r.project_id,
            p.title,
            u.user_id,
            u.name,
            u.profile_image_url
        FROM chat_rooms r
                 JOIN projects p ON r.project_id = p.project_id
                 JOIN users u
                      ON (CASE WHEN r.freelancer_id = #{login_user_id} THEN p.client_id ELSE r.freelancer_id END) = u.user_id
        WHERE r.room_id = #{room_id}
    </select>

    <update id="update_last_message" parameterType="map">
        UPDATE chat_rooms
        SET last_message_at = CURRENT_TIMESTAMP,
        last_message_content = #{content}
        WHERE room_id = #{room_id}
    </update>

</mapper>
