<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sanaiclub.chat.dao.ChatMessageMapper">
    <resultMap id="messageMap"
               type="com.sanaiclub.chat.model.dto.ChatMessageDTO">

        <id column="message_id" property="messageId"/>
        <result column="room_id" property="roomId"/>
        <result column="sender_id" property="senderId"/>
        <result column="content" property="content"/>
        <result column="created_at" property="createdAt"/>
        <result column="is_read" property="isRead"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="file_name" property="fileName"/>
        <result column="file_url" property="fileUrl"/>
        <result column="file_size" property="fileSize"/>
    </resultMap>
    <select id="findFileByMessageId"
            parameterType="int"
            resultType="com.sanaiclub.chat.model.dto.ChatMessageDTO">

        SELECT
            message_id      AS messageId,
            file_name       AS fileName,
            file_url        AS fileUrl
        FROM messages
        WHERE message_id = #{messageId}

    </select>

    <select id="findMessages"
            parameterType="int"
            resultMap="messageMap">
        SELECT
            *
        FROM messages m
        WHERE m.room_id = #{roomId}
        ORDER BY m.created_at ASC

    </select>
    <insert id="insertMessage">
        INSERT INTO messages (
            room_id,
            sender_id,
            content,
            file_name,
            file_url,
            file_size,
            created_at,
            is_read
        ) VALUES (
                  #{roomId},
                  #{senderId},
                  #{content},
                  #{fileName},
                  #{fileUrl},
                  #{fileSize},
                  CURRENT_TIMESTAMP,
                  0
                 )
    </insert>

    <update id="markRoomMessagesAsRead">
        UPDATE messages
        SET is_read = 1
        WHERE room_id = #{roomId}
          AND sender_id != #{loginUserId}
          AND is_read = 0
    </update>


    <update id="deleteMessage">
        UPDATE messages
        SET is_deleted = 1, deleted_at = CURRENT_TIMESTAMP
        WHERE message_id = #{messageId}
    </update>


</mapper>
